<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<div class="user-menu">
    <div class="user-menu__head">
        <div class="user-menu__head-image">
            <img src="../../../assets/images/user-menu/profile.jpg" alt="">
        </div>
        <div class="user-menu__head-text">
            <span class="user-menu__head-text__title">Juan duque</span>
            <span>2.5k puntos</span>
        </div>
    </div>
    <div class="user-menu__body">
        <ul>
            <li><a href="">Mis puntos</a></li>
            <li><a href="">Mis reservas</a></li>
            <li><a href="">Favoritos</a></li>
            <li><a href="">Calificaciones</a></li>
        </ul>
    </div>
    <div class="user-menu__buttons">
        <button class="user-menu__buttons__exit">
        </button>
        <button class="user-menu__buttons__settings">
        </button>
    </div>
</div>